# Ignorar carpetas y archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar entornos virtuales
venv/
.env/

# Ignorar archivos de configuración sensibles
.env
google-credentials.json
firebase-credentials.json

# Ignorar archivos de medios y estáticos
media/
staticfiles/

# Ignorar archivos de prueba
test_notifications.py
